.slides {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.carousel {
  width: 100%;
}

.slides .carousel .container-carousel img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.4);
}

.searcher-landing {
  width: 1000px;
  position: absolute;
  bottom: 20%;
}

.searcher-landing p {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.searcher-landing h2 {
  font-size: 3rem;
  color: rgb(163, 170, 177);
  text-align: center;
  box-shadow: ;
}
