.card-reservation {
  width: 100%;
}

.card-reservation__travelers {
  display: flex;
  gap: 1rem;
}

.form-reservation {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.form-reservation__item {
  margin: 0;
}
