.searcher-reservate {
  position: fixed;
  width: 98vw;
  top: 60px;
  left: 0;
  z-index: 30;  
}

.alert{

  margin-left: 10px;
}

.main {
  padding: 1rem;
  margin: 214px 3rem 3rem 3rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
